{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://unpkg.com/mvp.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/holiday.css@0.9.8" />
    <title>Habitual Me</title>
</head>

<header>
    <h1>Habitual Me</h1>
    <nav>
        <div>
            <center>
            {% if user.is_authenticated %}
                <a href={% url 'auth_logout' %}>logout</a> 
            {% else %}
                <a href={% url 'registration_register' %}>register</a>
                <a href={% url 'auth_login' %}>login</a> 
            {% endif %}
            </center>
        </div>
    </nav>
</header>

<body>
    
{% block content%}

{% endblock %}

</body>

<footer>
    <br>
        <b>hab - it</b> : a settled or regular tendency or practice, especially 
        one that is hard to give up.</br>
        //
        an acquired mode of behavior that has become nearly or completely involuntary.
    </center>
</footer>

</html>