{% extends 'base.html' %}

{% block content %}

<center><nobr><a href="{% url 'index' %}">back to my habits</a>
    | <a href="{% url 'add_habit' %}">pick up a new habit</a>
    | <a href="{% url 'add_record' habit_pk=habit.pk %}">record your daily habit</a></nobr></center>

{% if habit %}
<h1>{{ habit.name }}</h1>
<h2><nobr>I want to {{ habit.action }} {{ habit.target }} {{ habit.units }} daily. I've been {{ habit.name }}-ing since {{ habit.start }}.</nobr></h2>
{% endif %}

<center>
    <table>
        <td>date</td>
        <td>number</td>
        <td>units</td>
        {% for record in records %}
        <tr>
            <td>{{ record.date }}</td>
            <td>{{ record.record }}</td>
            <td>{{ record.units }}</td>
            <td><a href="{% url 'edit_record' pk=record.pk %}">update your daily record</a></td>
        </tr>
        {% endfor %}
    </table>
</center>
{% endblock %} 

